table {
    width: 100%;
  }

td {
    width: 20%;
    position: relative;
    color: black;
    text-align: center;
    font-size: 11px;
    overflow: hidden;
    border:5px solid white;
}

td:after {
    content: '';
    display: block;
    margin-top: 85%;
}


.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 13px 5px 15px 5px;
    cursor: pointer;
  }

.corner-rt {
    border-radius: 0px 10px 0px 0px
}

.corner-lt {
    border-radius: 10px 0px 0px 0px
}

.corner-rb {
    border-radius: 0px 0px 10px 0px
}

.corner-lb {
    border-radius: 0px 0px 0px 10px
}

.spinner {
    margin-left: 45%;
    margin-top: 40%;
}