.selected-playlist-info, .not-selected-playlist {
    margin-top: 15px;
    width: 100%;
    display: flex;
}

.selected-playlist-cover {
    height: 190px;
    margin-right: 15px;
    border-radius: 8px;
}

.info > p {
    margin-bottom: 5px;
}