.setup-container-right {
    box-sizing: border-box;
    background-color: #242424;
    color: white;
    height: 100%;
    overflow: scroll;
    border-radius: 0px 15px 15px 0px;
    -webkit-box-shadow: inset 0px 2px 15px 1px #000000; 
    box-shadow: inset 0px 2px 15px 1px #000000;
}

.setup-container-right::-webkit-scrollbar {
    display: none;
}