.table {
    width: 100%;
    max-width: 550px;
    margin: 0px auto;
    margin-top: -5px;
}

.bingo-container {
    width: 100%;
    max-width: 550px;
    margin: 0px auto;
    margin-top: 80px !important
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1px
}

.bingo-button {
    flex: 0.494;
    height: 50px;
}

.track-button {
    flex: 0.494;
    height: 50px
}

th {
    background: #e15546; 
    color: white;
    height: 80px;
    border-radius: 11px 11px 0px 0px;
}

.corner-lt {
    border-radius: 0;
}

.corner-rt {
    border-radius: 0;
}

td {
    border-radius: 2px;
    height: 90px;
    background: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}

.content > p {
    margin-bottom: 5px;
}

.free-space {
    background-color: #243551 !important;
    color: white
}

.corner-rb, .corner-lb {
    border-radius: 4px;
}

.content > strong {
    font-size: 9px;
}

svg {
    fill: white
}

.end-button {
    width: 32% !important;
}

.device-button {
    margin: 1px;
}

.bingo-button, .end-button, .track-button {
    height: 38px;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 28px;
}

.bingoModal {
    padding: 0rem !important;
}

.head-container > p {
    margin-right: 7px;
}

.room-code-head {
    padding: 5px;
    background-color: #e87568;
    color: white;
    border-radius: 5px;
}

.sidebar-content > hr {
    border-color: #243551;
}

.active-players-head {
    display: flex;
    /* margin-right: 3px; */
    padding: 2px 7px;
    background-color: #e87568;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.active-players-head:hover {
    background-color: #e46a5e;
}

.player-sidebar {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 7px 12px;
}

.player-name-sidebar {
    margin-left: 4px;
}

.players-sidebar-container {
    background-color: #243551;
    margin: 15px;
    border-radius: 5px;
    padding: 5px 0px
}

.sidebar-title {
    margin-left: 18px;
    margin-top: 18px;
}

@media only screen and (max-width: 600px) {
    .content > p {
      font-size: 10px;
      padding: 3px;
    }

    th {
        height:40px
    }

    .bingo-container {
        width: 98%;
        margin-top: 8px !important
    }

    .customModal {
        width: 80% !important;
    }

    .head-container {
        margin: 0px 10px;
    }

    .device-button {
        font-size: 12px;
    }
  }